<div class="event">
  <div class="content">
    <div class="chat-message summary <%= current_user == message.user ? 'current-user-message' : '' %>">
      <% if message.user.avatar.attached? %>
        <%= image_tag message.user.avatar, class: "profile-pic"%>
      <% else %>
        <%= image_tag ("profile.jpg"), class: "profile-pic"%>
      <%end%>
      <%= link_to current_user == message.user ? profile_path : 'user/'+message.user.id.to_s do %>
        <em style="color: <%= message.user.color %>">
          @<%= message.user.username %>:
        </em><% end %> <%= message.body %>
      
    </div>
  </div>
</div>