
<div class="event">
  <div class="content">
    <div class="chat-message summary <%= current_user == message.user ? 'current-user-message' : '' %>">
      <div class="ui two column grid">
        <div class="three wide column">
          <%= render 'shared/user_image', myUser: message.user, myClass: "message-pic" %>
        </div>
        <div class="ten wide column">
          <div class="ui one column grid" style="padding-left: 0">
            <%= render 'messages/message_user', message: message%>           
            <%= render 'messages/message_body', message: message%>           
          </div>
        </div>
        <div class="three wide column">
          <div class="ui fluid image" style="text-align: center">
            <div class="ui label">
              <%= render 'messages/message_like', message: message%>
              <div class="detail", style= "display: contents;">
                <%= message.likes.count%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>