
<div class="event">
  <div class="content">
    <div class="chat-message summary <%= current_user == message.user ? 'current-user-message' : '' %>">
      <div class="ui two column grid">
        <div class="two wide column">
          <% if message.user.avatar.attached? %>
            <%= image_tag message.user.avatar, class: "message-pic"%>
          <% else %>
            <%= image_tag ("profile.jpg"), class: "message-pic"%>
          <%end%>
        </div>
        <div class="fourteen wide column">
          <div class="ui one column grid" style="padding-left: 0">
            <div class="column" style="padding-bottom:0">
              <%= link_to current_user == message.user ? profile_path : 'user/'+message.user.id.to_s do %>
                <em style="color: <%= message.user.color %>">
                  @<%= message.user.username %>
                </em>
              <% end %>
              <%= message.created_at.to_formatted_s(:short)%>
            </div>
            <div class="column" style="padding-top:5px">
              <% if message.photo.attached? %>
                <%= image_tag message.photo, class: "message-pic"%>
              <% end %>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>