<h1 style="color: <%= @user.color%>">
    <div class="ui grid container">
        <div class="row items-vert-center">
            <div class="two wide column">
                <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, class: "profile-page-pic"%>
                <% else %>
                    <%= image_tag ("profile.jpg"), class: "profile-page-pic"%>
                <%end%>
            </div>
            <div class="two wide column">
            @<%= @user.username%>
            </div>
            <div class="two wide column">
                <%= link_to profile_edit_path do %>
                     <button class="ui inverted orange button">Edit Profile</button>
                <% end %>        
            </div>
        </div>
    </div>
    
    
    
</h1>

<h2>Friends</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">Friends Since</th>
        <th class="twelve wide">Friend Name</th>
    </tr>
</thead>
<tbody>
<% @friendships.each do |friend| %>
    <tr>
      <td data-label="Time" class=""><%= friend.created_at.to_formatted_s(:long_ordinal)%></td>
      <td data-label="Body" style="color: <%= User.where(id: friend.friend_id).first.color %>">
        <%= User.where(id: friend.friend_id).first.username%>
      </td>
    </tr>
<% end %>
</tbody>
</table>

<h2>Messages Sent</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">Sent</th>
        <th class="twelve wide">Message</th>
    </tr>
</thead>
<tbody>
<% @messages.each do |msg| %>
        <tr>
            <td data-label="Time" class=""><%= msg.created_at.to_formatted_s(:long_ordinal)%></td>
            <td data-label="Body" class="">
                <%= msg.body%>
            </td>
        </tr>
<% end %>
</tbody>
</table>