<h1>@<%= @user.username%></h1>

<h2>Friends</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">Friends Since</th>
        <th class="twelve wide">Friend Name</th>
    </tr>
</thead>
<tbody>
<% @friendships.each do |friend| %>
    <tr>
      <td data-label="Time" class=""><%= friend.created_at.to_formatted_s(:long_ordinal)%></td>
      <td data-label="Body" class="">
        <%= User.where(id: friend.friend_id).first.username%>
      </td>
    </tr>
<% end %>
</tbody>
</table>

<h2>Messages Sent</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">Sent</th>
        <th class="twelve wide">Message</th>
    </tr>
</thead>
<tbody>
<% @messages.each do |msg| %>
        <tr>
            <td data-label="Time" class=""><%= msg.created_at.to_formatted_s(:long_ordinal)%></td>
            <td data-label="Body" class="">
                <%= msg.body%>
            </td>
        </tr>
<% end %>
</tbody>
</table>