<h2 class="ui center aligned medium icon header">
  <i class="circular <%=current_user.color%> users icon"></i>
    Users
</h2>
<table class="ui selectable inverted table">
<%= render 'shared/table_header', headers: [
            ['/users/name', nil, 'User'],
            ['/users/messages', nil, 'Message Count'],
            ['/users/friends', nil, 'Friend Count'],
            ['/users/is_friends', nil, 'Add or Remove Friend']
        ] %>
<tbody>
<% @users.each do |u| %>
    <% if u != @user %>
        <tr>
            <td data-label="User" class="center aligned" >
                <%= render 'shared/avatar_username', u: u, myClass: "profile-pic"%>
            </td>
            <td data-label="Message Count" class="center aligned">
                <%= u.messages.count%>
            </td>
            <td data-label="Friends Count" class="center aligned">
                <%= u.friendships.count%>
            </td>
            <td data-label="Friend" class="center aligned">
                <%= render 'shared/friendship_button', f: @friendships, u: u %>
            </td>
        </tr>
    <%end%>
<% end %>
</tbody>
</table>