<h1>Users</h1>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="center aligned">User</th>
        <th class="center aligned">Add or Remove Friend</th>
    </tr>
</thead>
<tbody>
<% @users.each do |u| %>
    <% if u != @user %>
        <tr>
        
            <td data-label="User" class="center aligned" >
                <% if u.avatar.attached? %>
                    <%= image_tag u.avatar, class: "profile-pic", style:"vertical-align: text-bottom"%>
                <% else %>
                    <%= image_tag ("profile.jpg"), class: "profile-pic", style:"vertical-align: text-bottom"%>
                <%end%>
                <%= link_to '/user/'+u.id.to_s do %>
                    <span style="color: <%= u.color%>">
                        <%= u.username %>
                    </span>
                <%end%>
                
            </td>
            <td data-label="Friend" class="center aligned">
                <% if @friendships.where(friend_id: u.id).first%>
                    <%= link_to 'Remove Friend?', friendships_path(friend_id: u.id),
                              class: "ui inverted red button", method: :post %>
                <%else%>
                <%= link_to 'Add Friend?', friendships_path(friend_id: u.id),
                              class: "ui inverted green button", method: :post %>
                <%end%>
            </td>
        </tr>
    <%end%>
<% end %>
</tbody>
</table>