<h2>Liked Messages</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">User</th>
        <th class="twelve wide">Message</th>
    </tr>
</thead>
<tbody>
<% @likes.each do |msg| %>
        <tr>
            <td data-label="Time" class="">
                <% if msg.user.avatar.attached? %>
                    <%= image_tag msg.user.avatar, class: "profile-pic", style:"vertical-align: text-bottom"%>
                <% else %>
                    <%= image_tag ("profile.jpg"), class: "profile-pic", style:"vertical-align: text-bottom"%>
                <%end%>
                <%= link_to '/user/'+msg.user.id.to_s do %>
                    <span style="color: <%= msg.user.color%>">
                        <%= msg.user.username %>
                    </span>
                <%end%>
            
            </td>
            <td data-label="Body" class="">
                <%= msg.body%>
                <% if msg.photo.attached? %>
                    <br />
                    <%= image_tag msg.photo, class: "message-body-pic"%>
                <% end %>
            </td>
        </tr>
<% end %>
</tbody>
</table>