<h2>
    <i class="mail icon"></i>
    Messages Sent
</h2>
<table class="ui selectable inverted table">
    <thead>
        <tr>
            <th class="four wide"><%= link_to @base_url+'message_sent', style: "color: white" do %>Sent<%end%></th>
            <th class="ten wide">Message</th>
            <th class="two wide"><%= link_to @base_url+'message_likes', style: "color: white" do %>Likes<%end%></th>
        </tr>
    </thead>
    <tbody>
    <% @sentMessages.each do |msg| %>
            <tr>
                <td data-label="Time" class=""><%= msg.created_at.in_time_zone('Eastern Time (US & Canada)').to_formatted_s(:long_ordinal)%></td>
                <td data-label="Body" class="">
                    <%= msg.body%>
                    <% if msg.photo.attached? %>
                        <br />
                        <%= image_tag msg.photo, class: "message-body-pic"%>
                    <% end %>
                </td>
                <td><%= msg.likes.count%></td>
            </tr>
    <% end %>
    </tbody>
</table>