<div class="row">
    <%= render 'shared/user_image', myUser: @user, myClass: "profile-page-pic" %>
</div>
<div>
    <h1 style="color: <%= @user.color%>">
        @<%= @user.username%>
        <% if current_user === @user %>
            <%= link_to profile_edit_path do %>
                <button class="<%='ui inverted '+current_user.color+' button'%>">Edit Profile</button>
            <% end %>
        <% end %>
    </h1>
</div>