<h2 class="ui center aligned medium icon header"><i class="circular <%=@user.color%> user icon"></i></h2>

<div class="ui grid container">
    <div class="row items-vert-center">
        <%= render 'shared/user_header'%>
    </div>
</div>

<h3>Direct Message</h3>
<%= render 'chatroom/chat_menu'%>

<%= render 'shared/user_page'%>

<%= render 'shared/friendship_button', f: @curr.friendships, u: @user %>