<% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "profile-page-pic"%>
<% else %>
    <%= image_tag ("profile.jpg"), class: "profile-page-pic"%>
<%end%>
<h1 style="color: <%= @user.color%>">@<%= @user.username%></h1>

<h2>Friends</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">Friends Since</th>
        <th class="twelve wide">Friend Name</th>
    </tr>
</thead>
<tbody>
<% @friendships.each do |friend| %>
    <tr>
      <td data-label="Time" class=""><%= friend.created_at.to_formatted_s(:long_ordinal)%></td>
      <td data-label="Body" style="color: <%= User.where(id: friend.friend_id).first.color %>">
        <% if User.where(id: friend.friend_id).first.avatar.attached? %>
            <%= image_tag User.where(id: friend.friend_id).first.avatar, class: "profile-pic", style:"vertical-align: text-bottom"%>
        <% else %>
            <%= image_tag ("profile.jpg"), class: "profile-pic", style:"vertical-align: text-bottom"%>
        <%end%>
        <%= link_to '/user/'+friend.friend_id.to_s do %><%= User.where(id: friend.friend_id).first.username%><%end%>
      </td>
    </tr>
<% end %>
</tbody>
</table>

<h2>Messages Sent</h2>
<table class="ui selectable inverted table">
<thead>
    <tr>
        <th class="four wide">Sent</th>
        <th class="twelve wide">Message</th>
    </tr>
</thead>
<tbody>
<% @messages.each do |msg| %>
        <tr>
            <td data-label="Time" class=""><%= msg.created_at.to_formatted_s(:long_ordinal)%></td>
            <td data-label="Body" class="">
                <%= msg.body%>
                <% if msg.photo.attached? %>
                    <br />
                    <%= image_tag msg.photo, class: "message-body-pic"%>
                <% end %>
            </td>
        </tr>
<% end %>
</tbody>
</table>

<% if @curr.friendships.where(friend_id: @user.id).first%>
    <%= link_to 'Remove Friend?', friendships_path(friend_id: @user.id),
            class: "ui inverted red button", method: :post %>
<%else%>
    <%= link_to 'Add Friend?', friendships_path(friend_id: @user.id),
            class: "ui inverted green button", method: :post %>
<%end%>