<a>
  <%= link_to "Chatroom", root_path, class: "item" %>
</a>
<a>
  <%= link_to "My Profile", profile_path, class: "item" %>
</a>
<a>
  <%= link_to "Users", users_path, class: "item" %>
</a>
<% if logged_in? %>
  <%= render 'layouts/friends_dropdown' %>
<%end%>
<div class="right menu">
  <%= render 'layouts/account_menu'%>
</div>